In [176]:
import pandas as pd
import random 
import numpy as np
import matplotlib.pyplot as plt
import os
# # The following line is needed to show plots inline in notebooks
# %matplotlib inline 
# from sklearn.preprocessing import StandardScaler, LabelBinarizer
# from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
# from sklearn.model_selection import KFold
# from sklearn.metrics import make_scorer, confusion_matrix
# from sklearn.model_selection import learning_curve
# import seaborn as sns
# sns.set_style('whitegrid')
# import statsmodels.api as sm
# from sklearn.linear_model import LinearRegression
# from sklearn.feature_selection import RFE
# import warnings
# warnings.filterwarnings("ignore")

# # Import the necessary libraries first
# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import chi2
# from sklearn.decomposition import PCA

In [177]:
basePath = os.path.dirname(os.path.abspath("train.json"))
# 0:false, 1:partly true, 2:true
claim = pd.read_json(open(basePath + "/train/train.json", "r", encoding="utf8"))
claim.head(5)

,claim,claimant,date,id,label,related_articles
0,A line from George Orwell's novel 1984 predict...,,2017-07-17,0,0,"[122094, 122580, 130685, 134765]"
1,Maine legislature candidate Leslie Gibson insu...,,2018-03-17,1,2,"[106868, 127320, 128060]"
2,A 17-year-old girl named Alyssa Carson is bein...,,2018-07-18,4,1,"[132130, 132132, 149722]"
3,In 1988 author Roald Dahl penned an open lette...,,2019-02-04,5,2,"[123254, 123418, 127464]"
4,"When it comes to fighting terrorism, ""Another ...",Hillary Clinton,2016-03-22,6,2,"[41099, 89899, 72543, 82644, 95344, 88361]"

In [178]:
txtPath = basePath+"/train/train_articles/"

In [179]:
def appendArticles(articleList, basePath):
    contents = ''
    for articleNumber in articleList:
        f = open(basePath+str(articleNumber)+".txt", "r")
        contents = f.read()+";"+contents
        f.close()
    return contents

In [180]:
claim['articleText'] = claim.apply(lambda row: appendArticles(row['related_articles'], txtPath) ,axis=1)

In [181]:
def assignLength(row, colName):
    return len(row[colName])

In [183]:
claim['articleLength'] = claim.apply(lambda row: assignLength(row, 'articleText'), axis=1)
claim.head(3)

,claim,claimant,date,id,label,related_articles,articleText,articleLength
0,A line from George Orwell's novel 1984 predict...,,2017-07-17,0,0,"[122094, 122580, 130685, 134765]",1984 by George Orwell\n1984 is a dystopian nov...,7043
1,Maine legislature candidate Leslie Gibson insu...,,2018-03-17,1,2,"[106868, 127320, 128060]",Maine candidate apologizes after calling Parkl...,9447
2,A 17-year-old girl named Alyssa Carson is bein...,,2018-07-18,4,1,"[132130, 132132, 149722]",About Kennedy Space Center Visitor Complex\nDe...,16891

In [184]:
y = claim['label']
# Drop the `label` column
claim = claim.drop("label", axis=1)
# Make training and test sets 
X_train, X_test, y_train, y_test = train_test_split(claim['articleText'], y, test_size=0.33, random_state=53)

In [ ]:
# Initialize the `count_vectorizer` 
count_vectorizer = CountVectorizer(stop_words='english')

# Fit and transform the training data 
count_train = count_vectorizer.fit_transform(X_train) 

# Transform the test set 
count_test = count_vectorizer.transform(X_test)

In [ ]:
# Get the feature names of `tfidf_vectorizer` 
print(count_vectorizer.get_feature_names()[-10:])

In [ ]:
y = claim.label 

# Drop the `label` column
claim.drop("label", axis=1)

# Make training and test sets 
X_train, X_test, y_train, y_test = train_test_split(df['text'], y, test_size=0.33, random_state=53)

In [50]:
test = pd.read_csv('fake_or_real_news.csv')
test = test.set_index("Unnamed: 0")
test.head()

,title,text,label
Unnamed: 0,,,
8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [52]:
df = test.copy()

In [59]:
# Set `y` 
y = df.label 

# Drop the `label` column
df.drop("label", axis=1)

# Make training and test sets 
X_train, X_test, y_train, y_test = train_test_split(df['text'], y, test_size=0.33, random_state=53)

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [63]:
# Initialize the `count_vectorizer` 
count_vectorizer = CountVectorizer(stop_words='english')

# Fit and transform the training data 
count_train = count_vectorizer.fit_transform(X_train) 

# Transform the test set 
count_test = count_vectorizer.transform(X_test)

In [64]:
# Initialize the `tfidf_vectorizer` 
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7) 

# Fit and transform the training data 
tfidf_train = tfidf_vectorizer.fit_transform(X_train) 

# Transform the test set 
tfidf_test = tfidf_vectorizer.transform(X_test)

In [68]:
print(tfidf_vectorizer.get_feature_names()[-10:])

['حلب', 'عربي', 'عن', 'لم', 'ما', 'محاولات', 'من', 'هذا', 'والمرضى', 'ยงade']

In [69]:
print(count_vectorizer.get_feature_names()[:10])

['00', '000', '0000', '00000031', '000035', '00006', '0001', '0001pt', '000ft', '000km']

In [109]:
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

In [110]:
difference = set(count_df.columns) - set(tfidf_df.columns)
difference

set()

In [112]:
print(count_df.equals(tfidf_df))

False

In [115]:
count_df.columns[500:550]

Index(['1924', '1925', '1926', '1927', '1928', '1929', '193', '1930', '1930s',
       '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939',
       '194', '1940', '1940s', '1941', '1942', '1943', '1944', '1945', '1946',
       '1947', '1948', '1949', '195', '1950', '1950s', '1951', '1952', '1953',
       '1954', '1955', '1956', '1957', '1958', '19580395003', '19580405001',
       '1959', '196', '1960', '1960s', '1961', '19617315012', '1962'],
      dtype='object')

In [113]:
count_df.head()

,00,000,0000,00000031,000035,00006,0001,0001pt,000ft,000km,...,حلب,عربي,عن,لم,ما,محاولات,من,هذا,والمرضى,ยงade
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
len(count_train.A)

4244

In [77]:
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())
count_df.shape

(4244, 56922)

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = ['This is the first document.',
          'This document is the second document.',
          'And this is the third one.',
          'Is this the first document?']
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())
print(X.shape)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
(4, 9)

In [58]:
X

<4x9 sparse matrix of type '<class 'numpy.float64'>'
	with 21 stored elements in Compressed Sparse Row format>